{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Cook List</title>
{% endblock %}

{% block content %}
  <h1>All cooks in our kitchen {% if user.is_authenticated and user.is_staff %}
    <a style="float: right" href="{% url "kitchen:cook-create" %}">+</a>{% endif %} </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔍" class="btn btn-outline-primary">
  </form>
  {% if cook_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Years of Experience</th>
      </tr>
      {% for cook in cook_list %}
        <tr>
          <td><a href="{% url "kitchen:cook-detail" pk=cook.pk %}">{{ cook.id }}</a></td>
          <td>{{ cook.username }} {% if user == cook %}(Me){% endif %} </td>
          <td>{{ cook.first_name }} {{ cook.last_name }}</td>
          <td>{{ cook.year_of_experience }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No cooks found.</p>
  {% endif %}
{% endblock %}