{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
  <title>Cook List</title>
{% endblock %}

{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-75 relative"
         style="background-image: url('{% static "assets/img/bg-landing_cook.jpg" %}')">
      <span class="mask bg-gradient-dark opacity-4"></span>
    </div>
  </header>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <section class="pb-5 position-relative bg-gradient-dark mx-n3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-start mb-5 mt-5">
          <h3 class="text-white z-index-1 position-relative">The Executive Team</h3>
          <p class="text-white opacity-8 mb-4">
            Our professional cooks bring their passion and expertise to every dish,
            ensuring high-quality and delicious meals for our guests.
          </p>

          <form action="" method="get" class="d-flex justify-content-start mb-5">
            <div class="input-group input-group-lg w-10 w-md-30 shadow-sm">
              {{ search_form|crispy }}
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>

            <style>
                .input-group .form-control {
                    color: #ffffff !important;
                    background-color: transparent !important;
                    border: 1px solid #ced4da !important;
                }

                .input-group .form-control::placeholder {
                    color: rgba(255, 255, 255, 0.7) !important;
                }
            </style>
          </form>
          <div class="mb-4">
            <a class="btn btn-primary" href="{% url 'kitchen:cook-create' %}">
              Add New Cook
            </a>
          </div>

        </div>
      </div>
      <div class="row g-5">
        {% for cook in cook_list %}
          <div class="col-lg-6 col-md-12">
            <div class="card card-profile shadow-lg">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-n5">
                  <a href="{% url 'kitchen:cook-detail' pk=cook.pk %}">
                    <div class="p-3 pe-md-0">
                      <img class="w-100 border-radius-md shadow-lg"
                           src="{% static 'assets/img/'|add:cook.username|add:'.jpg' %}">
                    </div>
                  </a>
                </div>
                <div class="col-lg-8 col-md-6 col-12 my-auto">
                  <div class="card-body ps-lg-0">
                    <h5 class="mb-1">{{ cook.username }} {% if user == cook %}(Me){% endif %}</h5>
                    <h6 class="text-info mb-2">{{ cook.first_name }} {{ cook.last_name }}</h6>
                    <p class="mb-0">
                      Has {{ cook.year_of_experience }} year{{ cook.year_of_experience|pluralize }} of professional
                      cooking experience.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <p class="text-white">No cooks found!</p>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
