{% extends "base.html" %}

{% block title %}
  <title>Type of Dish List</title>
{% endblock %}

{% block content %}
  <h1>All types of dish that we cook {% if user.is_authenticated %}
    <a style="float: right" href="{% url "kitchen:dish-type-create" %}">+</a>{% endif %}</h1>
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Delete</th>
      </tr>
      {% for dish_type in dish_type_list %}
        <tr>
          <td>{{ dish_type.id }}</td>
          <td>{{ dish_type.name }}</td>
          <td>{% if user.is_authenticated %}
            <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">
              Delete
            </a>
          {% endif %} </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No type of dish found.</p>
  {% endif %}
{% endblock %}