{% extends "base.html" %}

{% block title %}
  <title>Ingredient List</title>
{% endblock %}

{% block content %}
  <h1>We cook our dishes from the best ingredients.
    <a style="float: right" href="{% url "kitchen:ingredient-create" %}">+</a></h1>
  {% if ingredient_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      {% for ingredient in ingredient_list %}
        <tr>
          <td>{{ ingredient.id }}</td>
          <td>{{ ingredient.name }}</td>
          <td><a href="{% url 'kitchen:ingredient-delete' pk=ingredient.id %}" >
            Delete
          </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No ingredients found.</p>
  {% endif %}
{% endblock %}